.header {
    margin: 100px 0 200px;
    color: var(--black)
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px
}

.header__list {
    display: flex;
    gap: 26px;
}

.header__link {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;
    transition: background-color .4s, border .4s, color.4s;
}

.header__link:hover {
    background-color: transparent;
    border-color: var(--black);
}

.header__link:focus {
    background-color: var(--black);
    color: var(--black);
    border-color: transparent;
}

@media (max-width: 1200px){
    .header__link {
        font-size: 18px;
        font-weight: 450;
    }
}

@media (max-width: 992px){
    .header__link {
        font-size: 15px;
        font-weight: 450;
    }
}

@media (max-width: 760px){
    .header__link  {
        font-size: 12px;
        font-weight: 450;
    }
}