.header {
    margin: 25px 0 105px;
    color: var(--black)
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 50;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px
}

.header__list {
    display: flex;
    gap: 26px;
}

.header__link {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;
    transition: background-color .4s, border .4s, color.4s;
}

.header__link:hover {
    background-color: transparent;
    border-color: var(--black);
}

.header__link:focus {
    background-color: var(--black);
    color: var(--black);
    border-color: transparent;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

.header__mobile {
    background-color: rgb(206, 202, 202);
    top: 0;
    padding: 130px 15px 40px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .6s;
    position: fixed;
    display: none;
}

.header__mobile.active {
  transform: translateX(0);
}

@media (max-width: 550px){
    .header__nav {
        display: none;
    }

    .header__list {
        align-items: flex-start;
        flex-direction: column;
    }

    .header__link {
        font-size: 20px;
    }

    .header__mobile {
        display: block;
    }

    .menu-btn {
        display: flex;
    }
}